<!DOCTYPE html>
<html>
  <head>
    <title>Meu Primeiro Site</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="colum adicionar">
      <h1>Lista de amigos</h1>
      <input type="text" id="nome" placeholder="Digite um nome..." />
      <div class="row">
        <button onclick="adicionarAmigo()">adicionar</button>
        <button onclick="window.location.href = '/listar' ">
          Listar amigos
        </button>
      </div>

      <script src="/static/script.js"></script>
    </div>
  </body>
</html>
