<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Listar</title>
  </head>
  <body>
    <div class="colum">
      <h1>Lista de amigos</h1>
      <ul id="lista-amigos"></ul>

      <button onclick="window.location.href = '/' ">Voltar</button>
    </div>

    <script src="../static/script.js"></script>
    <script>
      window.onload = carregarLista;
    </script>
  </body>
</html>
