body {
  background-color: #e0f7fa;
  font-family: Arial;
  text-align: center;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  
}

h1 {
  color: #00796b;
}

ul {
  list-style: none;
}

li {
  font-size: 15pt;
}

button {
  border-radius: 3px;
  background-color: lightgreen;
  color: black;
  font-weight: bold;
  border: none;
  padding: 4px 12px;
  transition: 0.2s;
}
button:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.row {
  display: flex;
  gap: 10px;
}

.colum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.adicionar {
  width: 10vw;
}

a {
  border-radius: 3px;
  background-color: lightblue;
  color: black;
  font-weight: bold;
  border: none;
  padding: 2px 5px;
  transition: 0.2s;
  text-decoration: none;
}

a:hover {
  transform: scale(0.9);
  cursor: pointer;
}
