<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>index</title>
  </head>
  <body>
    <main>
      <div class="container flex">
        <!-- Cadastro -->
        <div class="cadastro">
          <h2>Cadastro</h2>
          <form id="form">
            <input
              type="text"
              id="nome"
              name="nome"
              placeholder="Digite um nome"
            />
            <button>Cadastrar</button>
          </form>
        </div>

        <!-- Lista -->
        <div class="lista">
          <h2>Lista de Pessoas</h2>
          <ul lista></ul>
        </div>
      </div>
    </main>
    <script src="/script.js"></script>
  </body>
</html>
